<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>VF Operations Report</title>
    <style>
        table,
        td {
            border: 1px solid lightgrey;
            border-collapse: collapse;
            background-color: #ffffff
        }

        th {
            background-color: #004c97;
        }

        th,
        td {
            padding: 10px;
        }

        h1 {
            font-size: 24px;
            font-weight: 200;
            text-align: left;
            text-transform: capitalize;
            color: #004c97;
        }

        thead {
            color: #FFFFFF;
            font-weight: bold
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;        }

        .inline {
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            margin-left: 20px;
            margin-bottom: 20px;
        }

        .content {
            font-size: 11px
        }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="inline">
            <img src="https://d1io3yog0oux5.cloudfront.net/_365779aaa35de232b7832335c9d7ed3e/vfc/files/theme/images/header-logo.svg"
                width="50" height="50" alt="VF Corporation">
        </div>
        <div class="inline">
            <h1> ORDER_REPORT </h1>
        </div>
    </div>
    <div class="content">
        {{{report.body}}}
        <br><br>
        {{#if report.records}}
        <table>
            <thead>
                <tr>
                    {{#each report.headers}}
                    <th>{{@this}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each report.records}}
                <tr>
                    {{#each this}}
                    <td>{{this}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>
</body>